# Created by https://www.toptal.com/developers/gitignore/api/powershell
# Edit at https://www.toptal.com/developers/gitignore?templates=powershell

### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll
 
# End of https://www.toptal.com/developers/gitignore/api/powershell
out.txt
output.json
*.pyc
error_codes.txt
answer.plite
/tasks.bat
/bat
/lnk
/github/env
/ZIPList.txt
*.log
*.efu
/..bfg-report/
/powerprofiles
/tasks
/reg
HKU/*
*.lnk
*.txt
hmdq/
* copy.*
*- Copy (*).ini
*.disabled
/drives/
*.cer
/vm/Easy-GPU-PV/
es.exe
banner.exe
ActionCenterEvents.json
banner.json
ActionCenterEvents.exe
BlockShutdown.exe
/service-discovery/devices/
service-discovery/devices/BLU-PC.json
*.txz
*.jar
unraid\config\plugins\user.scripts\scripts\sort-apks\tools
!/unraid/config/plugins/user.scripts/
!/unraid/config/plugins/user.scripts/scripts/
!/unraid/config/plugins/user.scripts/scripts/*
Remove-EdgeWeb.exe
restart-on-crash.ini
RestartOnCrash/settings.ini

player.exe
yt-dlp.exe
5E31.tmp
C621.tmp
